@charset "utf-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "DM Sans", "Zen Kaku Gothic Antique", sans-serif;
    font-size: 3.6vw;
    color: #424343;
    line-height: 1;
    background-color: #fdfef5;
    /* #e7582c */
}

img {
    max-width: 100%;
}

.header-logo {
    font-size: 15vw;
    font-weight: 600;
    text-align:center
}

.main {
    width: 70vw;
    margin: auto;
    margin-top: 50px;
}

.main-track-title {
    font-size: 5vw;
    font-weight: 700;
}

.main-track-composer {
    font-weight: 500;
    color: #42434399;
}

.main-cover {
    height: 70vw;
    width: 70vw;
    background-color: #424343;
}

.footer {
    color: #fdfef5;
    background-color: #424343;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 80px;
    margin-top: 50px;
}

.footer-inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
}

.footer-links-title {
    color: #fdfef599;
}

.footer-logo {
    font-size: 15vw;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    
    padding-top:100px;
}

.copyright {
    padding-bottom: 20px;
    font-size: 3vw;
    text-align: center;
    color: #fdfef599;
}